@model GrilledCommon.Models.DisplayProductModel

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    @if (Model.Products.Count == 0)
    {
        <h4>There are no listings for your search.</h4>
    }
    <div class="card-columns">
        @foreach (GrilledCommon.Models.ProductModel product in Model.Products)
        {
            <div class="card" style="width: 18rem;">
                <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <img class="card-img-top" src="@product.Images[0].Source" alt="Card Image">
                </a>

                <div class="card-body">
                    <h5 style="text-align:left;">
                        @product.Designer
                        <span style="float:right;">
                            @product.Size.Split('/').First()
                        </span>
                    </h5>

                    <p class="card-text">@product.Name</p>

                    <p style="text-align:left;">
                        $@product.Price
                        <span style="float:right;">
                            <a asp-area="" asp-controller="Account" asp-action="Save" asp-route-id="@product.Id">
                                <img src="~/Images/Heart.png" width="20" height="20">
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        }
    </div>
</div>
