@model DisplayProductModel

<h1 class="display-4"><b>@Context.Request.Cookies["Login"]</b></h1>
<hr />
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="BuyMessages">Messages</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" asp-area="" asp-controller="Account" asp-action="Items">My Items</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Settings">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>My Sizes</s></a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>Transactions</s></a>
            <a class="list-group-item list-group-item-action list-group-item-danger" asp-area="" asp-controller="Account" asp-action="Login">Log Out</a>
        </div>
    </div>
    <div class="col-10">
        <div class="text-center">
            <h1 class="display-4">MY ITEMS</h1>
            <hr />
            @if (Model.Products.Count == 0)
            {
                <h4>You have no listings yet.</h4>
            }
            <div class="card-columns">
                @foreach (ProductModel product in Model.Products)
                {
                    <div class="card" style="width: 18rem;">
                        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                            <img class="card-img-top" src="@product.Images[0].Source" alt="Card Image">
                        </a>

                        <div class="card-body">
                            <h5 style="text-align:left;">
                                @product.Designer
                                <span style="float:right;">
                                    @product.Size.Split('/').First()
                                </span>
                            </h5>

                            <div class="card-text">@product.Name</div>

                            <div style="text-align:left;">
                                $@product.Price
                                <span style="float:right;">
                                    <a asp-area="" asp-controller="Account" asp-action="Save" asp-route-id="@product.Id">
                                        <img src="~/Images/Heart.png" width="20" height="20">
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


