@model GrilledCommon.Models.DisplayMessagesModel



<h1 class="display-4"><b>@Context.Request.Cookies["Login"]</b></h1>
<hr />
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-secondary" asp-area="" asp-controller="Chat" asp-action="BuyMessages">Messages</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Items">My Items</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Settings">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>My Sizes</s></a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>Transactions</s></a>
            <a class="list-group-item list-group-item-action list-group-item-danger" asp-area="" asp-controller="Account" asp-action="Login">Log Out</a>
        </div>
    </div>
    <div class="col-10">
        <div class="text-center">
            <h1 class="display-4">MESSAGES</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-light" style="width:100%" asp-area="" asp-controller="Chat" asp-action="BuyMessages" id="chatSelect" name="chatSelect" value="Buy">Buy Chats</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-light" style="width:100%" asp-area="" asp-controller="Chat" asp-action="SellMessages" id="chatSelect" name="chatSelect" value="Sell">Sell Chats</a>
            </div>
        </div>
        <br />
            <div class="row">
                <div class="col-3">
                    <div class="list-group">
                        @if (Model.Chats != null)
                        {
                            foreach (GrilledCommon.Models.ChatModel chat in Model.Chats)
                            {
                                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Chat" asp-action="BuyMessages" asp-route-id=@chat.Id>
                                    @if(chat.Product != null)
                                    {
                                        <div class="img-fluid" src="@chat.Product.Images[0].Source"></div>
                                    }
                                        
                                    @if(chat.Product == null)
                                    {
                                        <div>Product unavailable</div>
                                    }                                  
                                </a>
                            }
                        }
                    </div>
                </div>
                <div class="col-9">
                    @if (Model.Messages.Count != 0)
                    {
                        foreach (GrilledCommon.Models.MessageModel message in Model.Messages)
                        {
                            <div class="row">
                                <div class="col-sm">
                                    @if (message.SenderName != Context.Request.Cookies["Login"])
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                @message.SenderName: @message.Message
                                            </div>
                                            @message.Time
                                        </div>
                                    }
                                </div>
                                <div class="col-sm">
                                    @if (message.SenderName == Context.Request.Cookies["Login"])
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                @message.SenderName: @message.Message
                                            </div>
                                            @message.Time
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <br />
                        <form class="form-inline" method="post" enctype="multipart/form-data" asp-controller="Chat" asp-action="BuySend">
                            <input type="hidden" name="messageId" id="messageId" asp-for="@Model.Messages[0].Id" />
                            <div class="input-group" style="width:100%">
                                <input type="text" class="form-control" id="message" name="message" placeholder="Send Message...">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit" value="Submit">Send</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
    </div>
</div>
