<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grilled</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://app.g-lytics.com/analytics.js"></script>
    <script>
        gl("GL-44603027").send('view')
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/GrilledLogo.png" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline my-2 my-lg-0" method="get" enctype="multipart/form-data" asp-controller="Home" asp-action="Search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search">
                        <select class="form-control search-sl" id="category" name="category">
                            <option value="All Categories">All Categories</option>
                            <option value="Top">Top</option>
                            <option value="Bottom">Bottom</option>
                            <option value="Footwear">Footwear</option>
                            <option value="Outerwear">Outerwear</option>
                            <option value="Accessoires">Accessoires</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit" value="Submit">Search</button>
                        </div>
                    </div>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Sell">Sell</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Favorite">
                        <img src="~/Images/Heart.png" width="30" height="30">
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @if (@GrilledLogic.GetLogin.Name(Context) != null)
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index"><b>@GrilledLogic.GetLogin.Name(Context)</b></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="BuyMessages">Messages</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Items">My Items</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item alert-danger" asp-area="" asp-controller="Account" asp-action="Login">Log Out</a>
                            }
                            @if (@GrilledLogic.GetLogin.Name(Context) == null)
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Grilled - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
