@model ProductModel


@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-7">
        <img src="@Model.Images[0].Source" class="img-fluid" style="max-width: 100%; height: auto;"/>
    </div>
    <div class="col-1"></div>
    <div class="col">
        <h3 class="font-weight-bold">@Model.Name</h3>
        <a> 
            <h4 class="font-weight-bold"><u>@Model.Designer</u></h4>
        </a>
        <hr />
        <p><b>Size:</b> @Model.Size</p>
        <p><b>Color:</b> @Model.Color</p>
        <p><b>Condition:</b> @Model.Condition</p>
        <hr />
        <h5 class="font-weight-bold">$@Model.Price</h5>
        <p style="font-size:90%;"><b>+$@Model.Shipping</b> Shipping</p>
        <hr />
        <h5 class="font-weight-bold">Description</h5>
        <p>@Model.Description</p>
        <hr />
        <button class="btn btn-dark" style="width:100%; max-height:20%; "> PURCHASE</button>
        <br />  <br />
        <button class="btn btn-outline-dark" style="width:100%; max-height:20%">OFFER</button>
        <br /> <br />
        <button class="btn btn-outline-dark" style="width:100%; max-height:20%">MESSAGE</button>
    </div>
</div>
<div>
    <button class="btn btn-secondary" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
</div>
